body {
    margin: auto;
    min-height: 100vh;
}
#sketchPad {
    margin: auto;
    display: grid;
    grid-auto-columns: max-content;
    width: 480px;;
    height: 480px;
    border:2px solid black;
    background-color: #ebf9ff;
}

#sketchPad > div:hover {
    background-color: turquoise;
}